.content {
    min-width: 800px;
    padding: 50px 0 0 0;
    box-sizing: border-box;
}

.breadcrumbs {
    font-size: 12px;
    color: #555555;
}

.title {
    margin-top: 25px;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    user-select: none;
}

.form {
    margin-top: 25px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.field {
    display: flex;
    align-items: center;
    gap: 12px;
}

.fieldName {
    font-weight: 500;
}

.fieldInput {
    outline: none;
    border: solid 2px #000000;
}

.input_width200 {
    width: 200px;
}

.input_width400 {
    width: 400px;
}

.marginT21 {
    margin-top: 21px;
}

.table {
    margin-top: 25px;
    padding: 40px 50px;
    box-sizing: border-box;
    background: #D9D9D9;
    border-radius: 12px;
}

.employeeList {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search {
    outline: none;
    border: none;
}

.employee {
    height: 36px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background: #FFFFFF;
    cursor: pointer;
}

.employee:hover {
    background: rgba(170, 150, 177, 0.4);
}

.deleteBtn {
    height: 24px;
    margin-left: auto;
    font-size: 13px;
}

.marginT25 {
    margin-top: 25px;
}