* {
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    scrollbar-width: thin;
    scrollbar-color: #AA96B1 #E5E5E5;
    scrollbar-gutter: auto;
}


.header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #AA96B1;
    box-shadow: 0 2px 8px rgba(74, 43, 101, 0.52);
}

.headerTest {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}

.container {
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow-y: auto;

}

.mainContent {
    min-width: 1000px;
    max-width: 1000px;
    margin: auto;
    padding: 0 100px 100px;
    box-sizing: border-box;
    background: #E5E5E5;
}

.btn {
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.btn.primary {
    height: 36px;
    padding: 0 20px;
    border: none;
    background: #AA96B1;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.btn.secondary {
    border: dashed 1px #5E5E5E;
}

.commonText {
    font-size: 16px;
}

.commonInput {
    width: 100%;
    height: 36px;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    font-size: 13px;
}

.link {
    color: inherit;
    font: inherit;
    text-decoration: none;
}